<div class="index--content-wrapper">
  <div class="index--navigation-container">
    <div>
      <a href="/about-us"><%= t("about") %></a>
    </div>
    <div>
      <a href="/newsletter"><%= t("newsletter") %></a>
    </div>
    <div>
      <a href="/musicians"><%= t("musicians") %></a>
    </div>
  </div>
  
  <!-- <div class="index--slogan-container">
    <img src="/img/v1_background.jpg" height="220">
  </div> -->
  <div class="index--slogan-container">
    <img src="/img/index_tape.jpg">
  </div>
  
  <div class="index--connect-button">
    <a href="/connect">
      <span>CONNECT</span>
      <span class="circle"></span>
    </a>
  </div>  

  <div class="index--category-container">
    <div class="carousel">
      <ul class="carousel-track">
        <li class="slide current-slide" style="background-image: url('/img/category_carousel/1.jpg');"></li>
        <li class="slide" style="background-image: url('/img/category_carousel/2.jpg');"></li>
        <li class="slide" style="background-image: url('/img/category_carousel/3.jpg');"></li>
        <li class="slide" style="background-image: url('/img/category_carousel/4.jpg');"></li>
        <li class="slide" style="background-image: url('/img/category_carousel/5.jpg');"></li>
      </ul>
    </div>

    <div class="index--category-slogan"><%= t("categorySlogan") %></div>
    <div class="index--category-list">
      <ul>
        <% categories.forEach(category => { %>
          <li>
            <a href="/category/<%= category.cid %>">
              <div class="index--category-icons-container"><img src="/img/cat_icons/<%= category.name_en %>.png"></div>
              <div><%= category['name_' + lang] %></div>
            </a>
          </li>
        <% }) %>
      </ul>
    </div> 
    <div class="index--category-more"><a href="/category"><%= t("more") %></a></div>   
  </div>

  <div class="index--manual">
    <div class="index--manual-title"><%= t("manualTitle") %></div>
  </div>

  <div class="index--comment">
    <div class="index--comment-profile-container"><img src="/img/j.jpg"></div>
  </div>
</div>

<script src="/javascripts/categoryCarousel.js"></script>
