<div class="index--content-wrapper">
  <div class="index--navigation-container">
    <div>
      <a href="/about-us"><%= t("about") %></a>
    </div>
    <div>
      <a href="/newsletter"><%= t("newsletter") %></a>
    </div>
    <div>
      <a href="/musicians"><%= t("musicians") %></a>
    </div>
  </div>
  
  <!-- <div class="index--slogan-container">
    <img src="/img/v1_background.jpg" height="220">
  </div> -->
  <div>
    <img src="/img/index_tape.png" height="220">
  </div>
  
  <div class="index--connect-button">
    <a href="/connect">CONNECT!</a>
  </div>  
</div>

<div>
  <ul>
    <% categories.forEach(category => { %>
      <li>
        <a href="/category/<%= category.cid %>"><%= category['name_' + lang] %></a>
      </li>
    <% }) %>
  </ul>
</div>

<script src="/javascripts/indexVideo.js"></script>
