<div class="musician--container1">
  <div class="--left-section1">
    <h1><%= musician['name_' + lang] %></h1>
    <div class="musician--category">
      <% musician.categories.forEach(category => { %>
        <span><%= category['name_' + lang] %></span>
      <%}); %>
    </div>
    <div class="musician--style"><%= t('skilledin') + musician['styles_' + lang] %></div>
    <div class="musician--education"><%= musician['education_' + lang] %></div>
    <div class="musician--ideology"><%= musician['ideology_' + lang] %></div>
  </div>
  <div class="--right-section1">
    <img src="/img/250x400placeholder.png" alt="placeholder">
  </div>
</div>

<div class="musician--container2">
  <div class="--left-section2">
    <img src="/img/250x400placeholder.png" alt="placeholder">
  </div>
  <div class="--right-section2">
    <h1>Demo</h1>
    <div class="player-placeholder"></div>
    <div class="musician--aboutMe-title"><%= t('aboutMe') %></div>
    <div class="musician--description"><%= musician['description_' + lang] %></div>
  </div>
</div>

<!-- <div><%- musician['achievements_' + lang].replace(/。/g, "。<br>") %></div> -->

<!-- <div><a href="/connect?p=<%= musician['name_' + lang] %>">CONNECT!</a></div> -->
<div class="musician--connect-button-container">
  <%- include('../partials/connect-button', {href : "/connect?p=" + musician['name_' + lang] }) %>
</div>

<!-- <div class="musicianCategory">
  <ul class="musicianCategoryList">
    <% categories.forEach(category => { %>
      <li>
        <a href="/category/<%= category.cid %>">&#x23;<%= category['name_' + lang] %></a>
      </li>
    <% }) %>
  </ul>
</div> -->