<h1><%= musician['name_' + lang] %></h1>
<div><span><%= musician['education_' + lang] %></span></div>
<div><span><%= t('skilledin') + musician['styles_' + lang] %></span></div>
<div><span><%= musician['description_' + lang] %></span></div>
<div><%- musician['achievements_' + lang].replace(/。/g, "。<br>") %></div>
<div><span><%= musician['ideology_' + lang] %></span></div>

<div class="musicianCategory">
  <ul class="musicianCategoryList">
    <% categories.forEach(category => { %>
      <li>
        <a href="/category/<%= category.cid %>">&#x23;<%= category['name_' + lang] %></a>
      </li>
    <% }) %>
  </ul>
</div>

<div><a href="/connect?p=<%= musician['name_' + lang] %>">CONNECT!</a></div>