<h1><%= musician.name %></h1>
<div><span><%= musician.description %></span></div>
<div class="musicianCategory">
  <ul class="musicianCategoryList">
    <% categories.forEach(category => { %>
      <li><a href="/category/<%= category.cid %>">&#x23;<%= category.name %></a></li>
    <% }) %>
  </ul>
</div>

<div><a href="/connect?p=<%= musician.name %>">CONNECT!</a></div>